body {
  background-color: #000000;
  color: #ffffff
}

.container {
  text-align: center;
}

.output {
  min-height:50px;
}

.hal {
  background-image: url('../img/hal.jpg');
  background-position: center;
  background-size: contain;
  width: 283px;
  height: 290px;
  background-repeat: no-repeat;
  display: inline-block;
}

img {
  opacity: 0;
}

.show {
  opacity: 1;
  transition: 5s opacity;
}

#user-input {
  margin: 10px 0px;
}
