body {
  background-color: #000000;
  color: #ffffff
}

input {
  text-align: center;
}

button {
  text-transform: uppercase;
  background-color: #ff6d20;
  border: none;
  color: #ffffff;
  font-weight: 800;
  padding: 1% 3%;
}

label, .output {
  font-family: Lucida Console;
  text-transform: lowercase;
}

.container {
  text-align: center;
}

.output {
  min-height:75px;
  padding: 0% 20%;
}

.halculator {
  text-align: center;
  margin-top: 2%;
}


.halculator h1 .halborder {
  border: 3px solid #ffffff;
  padding-right: 20px;
}

.halculator h1 .bg {
  display: inline;
  background-color: #5cb1ef;
  padding-left: 20px;
  padding-right: 3px;
  margin-right: 5px;
}


.hal {
  background-image: url('../img/hal.jpg');
  background-position: center;
  background-size: contain;
  width: 283px;
  height: 290px;
  background-repeat: no-repeat;
  display: inline-block;
}

.show {
  opacity: 1;
  transition: 5s opacity;
}

.hide {
  opacity: 0;
  transition: 5s opacity;
}

#user-input {
  margin: 10px 0px;
}
